body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}

h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	border: 1px solid #999;
}

a {
	color: #00f;
}

.hidden {
	display: none;
}

.tickets {
	width: 100%;
	margin-bottom: 10px;
}

#footer {
	position: fixed;
	bottom: 10px;
	text-align: center;
	width: 100%;
	font-size: 0.8em;
	color: #555;
}
