{% load i18n %}
{%extends "base.html"%}

{%block content%}
	<table class="statuses">
		<tr>
			<th>{% trans 'ID' %}</th>
			<th>{% trans 'name' %}</th>
		</tr>
		{% for status in statuses %}
			<tr>
				<td><a href="{{ status.url }}">{{ status.id }}</a></td>
				<td><a href="{{ status.url }}">{{ status.name|escape }}</a></td>
			</tr>
		{% endfor %}
	</table>

	<a href="#" data-target="add-status" class="toggle">{% trans 'Add new status' %}</a>

	<form action="/admin/add-status" method="post" id="add-status" class="hidden">
		<div>
			<label for="name">{% trans 'name' %}</label>
			<input type="text" name="name" />
		</div>
		<div><input type="submit" value="{% trans 'Add status' %}"></div>
	</form>

{%endblock%}
