{% load i18n %}
{%extends "base.html"%}

{%block content%}
	<table>
		<tr>
			<th></th>
		</tr>
	{% for ticket in tickets %}
		{% if ticket.author %}
			<b>{{ ticket.author.nickname }}</b>:
		{% else %}
			An anonymous person wrote:
		{% endif %}
		<blockquote>{{ ticket.description|escape }}</blockquote>
	{% endfor %}
	</table>

	<a href="#" data-target="add-ticket" class="toggle">{% trans 'Add new ticket' %}</a>

	<form action="/add-ticket" method="post" id="add-ticket" class="hidden">
		<div><textarea name="description" rows="3" cols="60"></textarea></div>
		<div><input type="submit" value="{% trans 'Add ticket' %}"></div>
	</form>

{%endblock%}
