{%extends "base.html"%}
{% load i18n %}

{%block content%}

<div id="update-ticket-data">
	<span><strong>{% trans 'ID' %}</strong>: {{ ticket.id }}</span><br />
	<span><strong>{% trans 'summary' %}</strong>: {{ ticket.summary|escape }}</span><br />
	<span><strong>{% trans 'status' %}</strong>: {{ ticket.status|escape }}</span><br />
	<span><strong>{% trans 'severity' %}</strong>: {{ ticket.severity|escape }}</span><br />
	<span><strong>{% trans 'description' %}</strong>: {{ ticket.description|escape }}</span><br />
	<span><strong>{% trans 'owner' %}</strong>: {{ ticket.owner }}</span><br />
</div>

<a href="#" data-target="update-ticket" data-alt="{% trans 'Close' %}" class="toggle-edit">{% trans 'Edit ticket' %}</a>

<h3>Comments</h3>

{% for comment in comments %}
<div class="comment">
	<div class="author">{{ comment.author }}</div>
	<div class="date">{{ comment.date }}</div>
	<div class="message">{{ comment.message }}</div>
</div>
{% endfor %}


<a href="#" data-target="add-comment" class="toggle">{% trans 'Add comment' %}</a>

<form action="/ticket/{{ ticket.id }}" method="post" id="update-ticket-form" class="hidden">
	<fieldset>
		<div>
			<label for="summary">{% trans 'summary' %}</label>
			<input type="text" name="summary" value="{{ ticket.summary|escape }}" />
		</div>
		<div>
			<label for="status">{% trans 'status' %}</label>
			<select name="status">
				{% for status in statuses %}
					{% ifequal status.name ticket.status %}
						<option selected="selected" value="{{ status.id }}">{{ status.name }}</option>
					{% else %}
						<option value="{{ status.id }}">{{ status.name }}</option>
					{% endifequal %}
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="severity">{% trans 'severity' %}</label>
			<select name="severity">
				{% for severity in severities %}
					{% ifequal severity.name ticket.severity %}
						<option selected="selected" value="{{ severity.id }}">{{ severity.name }}</option>
					{% else %}
						<option value="{{ severity.id }}">{{ severity.name }}</option>
					{% endifequal %}
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="description">{% trans 'description' %}</label>
			<textarea name="description" rows="3" cols="60">{{ ticket.description|escape }}</textarea>
		</div>
		<div>
			<input type="submit" value="{% trans 'Save ticket' %}">
		</div>
	</fieldset>
</form>

<form action="/ticket/{{ ticket.id }}/add-comment" method="post" id="add-comment" class="hidden">
	<fieldset>
		<div>
			<label for="message">{% trans 'message' %}</label>
			<textarea name="message"></textarea>
		</div>
		<div>
			<input type="submit" value="{% trans 'Add comment' %}">
		</div>
	</fieldset>
</form>

{%endblock%}
