{% load i18n %}
{%extends "base.html"%}

{%block content%}
	<table class="tickets">
		<tr>
			<th>{% trans 'ID' %}</th>
			<th>{% trans 'project' %}</th>
			<th>{% trans 'severity' %}</th>
			<th>{% trans 'summary' %}</th>
			<th>{% trans 'owner' %}</th>
			<th>{% trans 'status' %}</th>
		</tr>
		{% for ticket in tickets %}
			<tr>
				<td><a href="{{ ticket.url }}">{{ ticket.id }}</a></td>
				<td></td>
				<td></td>
				<td><a href="{{ ticket.url }}">{{ ticket.description|escape }}</a></td>
				<td>{{ ticket.owner }}</td>
				<td></td>
			</tr>
		{% endfor %}
	</table>

	<a href="#" data-target="add-ticket" class="toggle">{% trans 'Add new ticket' %}</a>

	<form action="/add-ticket" method="post" id="add-ticket" class="hidden">
		<div><textarea name="description" rows="3" cols="60"></textarea></div>
		<div><input type="submit" value="{% trans 'Add ticket' %}"></div>
	</form>

{%endblock%}
