{%extends "base.html"%}
{% load i18n %}

{%block content%}

<h2><a href="/">{% trans 'Ticket list' %}</a> &raquo; <a href="{{ ticket.url }}">Ticket {{ ticket.id }}</a></h2>

<dl id="update-ticket-data">
	<dt>{% trans 'ID' %}</dt><dd>{{ ticket.id }}</dd>
	<dt>{% trans 'summary' %}</dt><dd>{{ ticket.summary|escape }}</dd>
	<dt>{% trans 'status' %}</dt><dd>{{ ticket.status|escape }}</dd>
	<dt>{% trans 'severity' %}</dt><dd>{{ ticket.severity|escape }}</dd>
	<dt>{% trans 'description' %}</dt><dd>{{ ticket.description|escape }}</dd>
	<dt>{% trans 'owner' %}</dt><dd>{{ ticket.owner }}</dd>
	<dt>{% trans 'assigned user' %}</dt><dd>{{ ticket.solver }}</dd>
</dl>

<a href="#" data-target="update-ticket" data-alt="{% trans 'Close' %}" class="toggle-edit">{% trans 'Edit ticket' %}</a>

<h3>Comments</h3>

{% for comment in comments %}
<div class="comment">
	<div class="author">{{ comment.author }}</div>
	<div class="date">{{ comment.date }}</div>
	<div class="message">{{ comment.message }}</div>
</div>
{% endfor %}


<a href="#" data-target="add-comment" class="toggle">{% trans 'Add comment' %}</a>

<form action="/ticket/{{ ticket.id }}" method="post" id="update-ticket-form" class="hidden">
	<fieldset>
		<div>
			<label for="summary">{% trans 'summary' %}</label>
			<input type="text" name="summary" value="{{ ticket.summary|escape }}" />
		</div>
		<div>
			<label for="status">{% trans 'status' %}</label>
			<select name="status">
				{% for status in statuses %}
					{% ifequal status.name ticket.status %}
						<option selected="selected" value="{{ status.id }}">{{ status.name }}</option>
					{% else %}
						<option value="{{ status.id }}">{{ status.name }}</option>
					{% endifequal %}
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="severity">{% trans 'severity' %}</label>
			<select name="severity">
				{% for severity in severities %}
					{% ifequal severity.name ticket.severity %}
						<option selected="selected" value="{{ severity.id }}">{{ severity.name }}</option>
					{% else %}
						<option value="{{ severity.id }}">{{ severity.name }}</option>
					{% endifequal %}
				{% endfor %}
			</select>
		</div>
		<div>
		<label for="assignedUser">{% trans 'Assigned user' %}</label>
			<select name="assignedUser">
				<option value="">- {% trans 'not assigned' %} -</option>
				{% for item in contacts.items %}
					{% ifequal item.1 ticket.solverEmail %}
							<option selected="selected" value="{{ item.1 }}">{{ item.0 }}</option>
					{% else %}
							<option value="{{ item.1 }}">{{ item.0 }}</option>
					{% endifequal %}
				{% endfor %}
			</select>
		</div>
		<div>
			<label for="description">{% trans 'description' %}</label>
			<textarea name="description" rows="3" cols="60">{{ ticket.description|escape }}</textarea>
		</div>
		<div>
			<input type="submit" value="{% trans 'Save ticket' %}">
		</div>
	</fieldset>
</form>

<form action="/ticket/{{ ticket.id }}/add-comment" method="post" id="add-comment" class="hidden">
	<fieldset>
		<div>
			<label for="message">{% trans 'message' %}</label>
			<textarea name="message"></textarea>
		</div>
		<div>
			<input type="submit" value="{% trans 'Add comment' %}">
		</div>
	</fieldset>
</form>

{%endblock%}
